@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box;

}


h1 {
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#FFF;

}


.container {
    margin:auto 0;
    max-width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:50px
}

nav {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 99;
    padding:16px 32px;
    border-bottom: 6px ridge #fca311;
    background-color: #212529;

}



.hamburgare {
    display: block;
    position:relative;
    z-index:1;
    width:30px;
    height:30px;
    background-color: transparent;

}

span {
    display: block;
    width:30px;
    height:3px;
    background-color: #fff;
    margin:4px 0;
    border-radius: 3px;
}

.hamburgare:hover span:nth-child(1) {
    background-color: #fca311;

}

.hamburgare:hover span:nth-child(2) {
    background-color: #eb5e28;
}

.hamburgare:hover span:nth-child(3) {
    background-color: #fca311;
}





.meny {
    justify-content: flex-end   ;
    margin:0 -16px
}

.meny a {
    color:#fff;
    margin:0 16px;
    text-decoration: none;
    padding:8px 16px
}

.meny a:hover {
    color: #fca311;
}



.video {
    position: absolute;
    left:0;
    width:100%;
    z-index: -1;
    height:100vh;
    object-fit: fill;
    
}



#videotext{
    color:#fca311;
    font-family: 'Merienda', cursive;
    font-weight: 700;
    text-shadow: 7px 5px 2px #14213d;
    position: absolute;
    top:70%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size: 35px;


}



@media (min-width:787px) {
    .hamburgare {
        display:none
    }

   
}

@media (max-width:787px) {
    .meny {
        display:none
    }
    .hamburgare {
        display:block
    }

    .video {
        display:none
    }
    .bakgrunds-bild {
        background-image: url(bakgrundsbild.jpg);
        background-attachment: fixed;
        background-size: cover;
        height:100vh
    }

    #videotext {
        color:#14213d;
        text-shadow: 7px 5px 6px #eb5e28;

    }



}
